/* @import "../../css-config/mixins.scss"; */
.shop-by-category {
    margin: 25px 0;
}

@media (min-width: 768px) { /* md breakpoint */
    .shop-by-category {
        margin: 50px 0;
    }
}

.shop-by-category .categories {
    display: flex;
    flex-flow: wrap;
    gap: 10px;
}

.shop-by-category .categories .category {
    background-color: #8D6E63; /* Matte brown background */
    width: calc(50% - 5px);
    cursor: pointer;
    overflow: hidden;
}

@media (min-width: 768px) { /* md breakpoint */
    .shop-by-category .categories .category {
        width: calc(25% - 10px);
    }
}

.shop-by-category .categories .category img {
    width: 100%;
    display: block;
    transition: all ease 0.3s;
}

.shop-by-category .categories .category:hover img {
    transform: scale(1.2);
}